# Ignore packages
packages/
!packages/repositories.config

# Ignore dependencies
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore user secrets (if using)
secrets.json
appsettings.Development.json

# Ignore .NET Core configuration files
*.swp
*.swo

# Ignore logs and debug files
*.log

# Ignore Rider/JetBrains
.idea/
*.sln.iml

# Ignore Resharper files
*.DotSettings.user

# Ignore NPM and Node.js dependencies
node_modules/

# Ignore publish output
publish/
wwwroot/

# Ignore database files
*.mdf
*.ldf

# Ignore environment files
.env

.vs
